# Python
venv/
__pycache__/
*.pyc

# Environment variables
.env

# LinkedIn
backend/linkedin.json
backend/linkedin-profile/
linkedin-profile/

# Test files
backend/test.py

# Playwright debug
linkedin_debug.png
*.png

# Node
node_modules/
.next/

# VSCode
.vscode/

# Logs
*.log
scheduler.log